<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To do List - Login</title>
  <link rel="stylesheet" href="styles/register-login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <p class="box-title">LOGIN</p>
    <input type="text" id="username" name="username" class="form-input" placeholder="Username">
    <input type="password" id="password" name="password" class="form-input" placeholder="Password">
    <button class="login-button">LOGIN</button>
    <p>New user? <a href="logon.html" class="sign-link"> Sign Up</a> to register.</p>
  </div>
</body>
</html>