<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To do List - Sing Up</title>
  <link rel="stylesheet" href="styles/register-login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
<div class="login-container">
  <p class="box-title">SIGN UP</p>
  <form id="signup-form">
    <input type="text" id="username" name="username" class="form-input" placeholder="Username">
    <input type="password" id="password" name="password" class="form-input" placeholder="Password">
    <button class="login-button" type="submit">SIGN UP</button>
  </form>
  <p>Already registered? <a href="login.html" class="sign-link"> Login</a> to access.</p>
</div>
<script src="scripts/signup.js"></script>
</body>
</html>